
@import 'normalize.css';

body{
    margin: 36px 156px;
    font-family:"Montserrat", sans-serif;
}



.flatpickr-calendar{
background: #f5f5f5;
border-radius: 8px;
padding: 16px;
width: 280px;
height: 352px;
}


#datetime-picker{
border-radius: 4px;
width: 280px;
height: 40px;
border: 1px solid #808080;
font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
background: #fff;
padding: 0px 16px;
margin-bottom: 32px;
}
#datetime-picker.flatpickr-input.active{
      border: 1px solid #4e75ff ;
}
input:focus {
  outline: none;
  border: 1px solid #4e75ff;
}
input:hover  {
    outline: none;
    border: 1px solid #000;
} 

input:disabled{
    border: 1px solid #808080;
}  
.button-timer{
border-radius: 8px;
border: none;
padding: 8px 16px;
width: 75px;
height: 40px;
background: #cfcfcf;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #989898;
}
.timer{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 24px;
}
.field{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.value{
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 120%;
letter-spacing: 0.04em;
color: #2e2f42;
}
.label{
font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #2e2f42;
}

.active-btn{
    background: #4e75ff;
    color: #fff;
    cursor: pointer;
}
.active-btn:hover, .active-btn:focus{
background: #6c8cff;
}

/* snackbar */

.form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 360px;
}
.form input{
    border: 1px solid #808080;
border-radius: 4px;
height: 40px;
}
.form input:hover, .form input:valid:not(:focus){
    border: 1px solid #000;
}
.form input:focus{
    border: 1px solid #4e75ff;
}
.form label{
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
}
fieldset{
    border-radius: 4px;
stroke-width: 1px;
stroke: #808080;
display: flex;
justify-content: center;
align-items: center;
gap: 48px;
    padding-block: 14px 8px;
        padding-inline: 28px;
        padding: ;
        

}
fieldset:hover, fieldset:focus, fieldset:valid:not(:focus){
    stroke: #000;
    border-color: #000;
}
legend {
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #2e2f42;
}
.form fieldset label{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
   
}
.form fieldset label input {
    width: 32px;
    height: 32px;
}
#form-btn{
    border-radius: 8px;
padding: 8px 16px;
width: 360px;
height: 40px;
background: #4e75ff;
font-family: var(--font-family);
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
color: #fff;
}
#form-btn:hover {
    background: #6c8cff;
}